body{
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}
.container{
    width: 80%;
    margin: auto;
}
h1{
    text-align: center;
}
.event-form,
.event-card form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea, buttton{
    padding: 10px;
}
button{
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
}
.delete-btn{
    background: red;
}
.event-card{
    background: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}